    <app-layout></app-layout>  
    
    <!-- <app-panel></app-panel> -->
    

    

  <!-- <div class="container-fluid">
      
      <hr>
      <p>
        This is a demo plnkr forked from the <strong>ng-bootstrap</strong> project: Angular powered Bootstrap.
        Visit <a href="https://ng-bootstrap.github.io/" target="_blank">https://ng-bootstrap.github.io</a> for more widgets and demos.
    </p>
    <hr>

    <app-test></app-test>
  </div>  -->


 <!-- <app-test></app-test>  -->
<!-- <div class="btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    Button dropdown <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
    </li>
  </ul>
</div> -->