<!-- <style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: auto;
    margin-right: auto;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 20px 50px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}
</style>
<div>
<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>
</div> -->


<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
       <app-sidebaritem></app-sidebaritem>
    </ul>
</nav>
